@page "/"
@using Blazor_Car_Rental.Data.Models
@using Blazor_Car_Rental.Areas.Administrator.Services
@using Blazor_Car_Rental.Data.Services
@inject AdmCarServices CarServices
@inject NavigationManager nav;
@inject RentalServices RentalService
<div class="container home text-center">
    <h1 class="text-white home-text">Do you want to drive the car of your DREAMS?<br />You just came to the right place!</h1>
    <input class="getIntouch" type="button" value="Get in touch!" @onclick="getInTouch"/>
</div>
<section class="top-cars-section pt-5 text-center">
    <h1 class="mb-5">Top Cars</h1>   
    <div class="container top-cars">
        <div class="row">
            @foreach (var car in TopCars)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <a><img src="../CarImages/@car.ImageName" class="img-fluid" /></a>
                        </div>
                        <div class="down-content">
                            <span>from <sup>$</sup>@car.Price per day</span>
                            <p style="font-weight:bold">Make: @car.Make | Model: @car.Model</p>
                            <p style="font-weight:bold">Fuel: @car.Fuel | Engine: @car.EngineDisplacement L</p>
                            <p>
                                <i class="fa fa-table" title="year"></i>@car.Year &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-briefcase" title="luggages"></i> @car.Luggages &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-sign-out" title="doors"></i> @car.Doors &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cog" title="transmission"></i> @car.Transmission
                                <i class="" title="power"></i>@car.Power HP
                            </p>
                            <p>Rented: @car.rentalcount times!</p>
                            <p>Rated: @string.Format("{0:0.0}", RentalService.getReview(car.Id))  <i class="fa fa-star" aria-hidden="true"></i></p>
                            <input type="button" class="btn btn-success btn-1" value="Rent" @onclick="() => RentCar(car.Id)" />
                            <a href="/Identity/Account/Login">Rent a</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input type="button" class="btn mt-4" value="Check Cars" @onclick="CheckCars"/>
    </div>
</section>
<section class="about mt-5">
    <div class="container">
        <h1>About Us</h1>
        <div class="about-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel libero eu metus pharetra consectetur a commodo velit. In pulvinar arcu vel elementum condimentum. Aliquam elementum commodo finibus. Curabitur vel dignissim diam. Cras dui quam, iaculis sed ultricies a, feugiat et velit. Curabitur neque felis, dictum quis sapien ac, lobortis porttitor orci. Proin vitae sapien sit amet lectus imperdiet laoreet sit amet vitae nisi. Nulla vulputate massa libero, dictum vehicula lacus hendrerit eu. Sed quis velit ac erat auctor volutpat non a ipsum. Curabitur porttitor volutpat mi, et mattis urna mollis eu. Sed enim neque, hendrerit ut porttitor vel, porta.</p>
        </div>
    </div>
</section>

@code{
    List<Car> TopCars;

    protected override async Task OnInitializedAsync()
    {
        TopCars = await CarServices.GetTopCars();
    }
    async Task RentCar(int id)
    {
        nav.NavigateTo("/RentalCreate/" + id);
    }

    void getInTouch()
    {
        nav.NavigateTo("/Contact");
    }

    void CheckCars()
    {
        nav.NavigateTo("/RentCars");
    }
}