@page "/"
@using Blazor_Car_Rental.Data.Models
@using Blazor_Car_Rental.Areas.Administrator.Services
@using Blazor_Car_Rental.Data.Services
@inject AdmCarServices CarServices
@inject NavigationManager nav;
@inject RentalServices RentalService
<div class="container home text-center">
    <h1 class="text-white home-text">Do you want to drive the car of your DREAMS?<br />You just came to the right place!</h1>
</div>
<section class="top-cars-section pt-5 text-center">
    <div class="container top-cars">
        <div class="row">
            @foreach (var car in TopCars)
            {
                /*<div class="col-md-4">
                    <img src="../CarImages/@car.ImageName" class="img-fluid" />
                    <h3>@car.Make</h3>
                    <p>@car.Model</p>
                    <p>Rented: @car.rentalcount</p>
                    <input type="button" class="btn btn-success" value="Rent" @onclick="() => RentCar(car.Id)" />
                </div>*/
                <div class="col-lg-4 col-md-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <a><img src="../CarImages/@car.ImageName" class="img-fluid" /></a>
                        </div>
                        <div class="down-content">
                            <span>from <sup>$</sup>@car.Price per day</span>
                            <p style="font-weight:bold">Make: @car.Make | Model: @car.Model</p>
                            <p style="font-weight:bold">Fuel: @car.Fuel | Engine: @car.EngineDisplacement L</p>
                            <p>
                                <i class="fa fa-table" title="year"></i>@car.Year &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-briefcase" title="luggages"></i> @car.Luggages &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-sign-out" title="doors"></i> @car.Doors &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cog" title="transmission"></i> @car.Transmission
                                <i class="" title="power"></i>@car.Power HP
                            </p>
                            <p>Rented: @car.rentalcount times!</p>
                            <p>Rated: @RentalService.getReview(car.Id) stars</p>
                            <input type="button" class="btn btn-success" value="Rent" @onclick="() => RentCar(car.Id)" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@code{
    List<Car> TopCars;

    protected override async Task OnInitializedAsync()
    {
        TopCars = await CarServices.GetTopCars();
    }
    async Task RentCar(int id)
    {
        nav.NavigateTo("/RentalCreate/" + id);
    }
}